.footer-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid var(--color-green-dark-opec);
    width: 362px;
    margin: 4px 0;
    padding: 12px 12px 8px 12px;

    >* {
        &:hover {
            animation: bounce .8s ease-in-out 1;

            >*:last-child {
                fill: var(--color-green-light);
            }
        }
    }
}

.footer-placeholder {
    /* border: 1px solid blue; */

    opacity: 0.8;
    text-align: center;

    font-family: 'Courier New', Courier, monospace;

    >* {
        text-align: center;
    }
}

@keyframes move-up-g {
    0% {
        transform: translateY(+20px);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes bounce {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-5px);
    }

    100% {
        transform: translateY(0);
    }
}
