.sidebar-level {
  padding: 10px;
  height: 100vh;
  max-width: 425px;
  font-size: 24px;

  margin: 0 auto;
  position: sticky;
  top: 0;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  >* {
    display: flex;
  }

  .top {
    text-align: center;
    flex-direction: column;
    width: 100%;

  }

  .middle {
    flex-grow: 1;
    width: 100%;
  }
}


.logo {
  font-size: 88px;
  font-weight: bold;
  letter-spacing: 4px;
  font-family: 'Times New Roman', Times, serif;
  line-height: .75;

  display: flex;
  margin: 5px auto;
  justify-content: center;
}

.navigation {
  position: relative;
}

.selected-option {
  padding: 10px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 12px;
  cursor: pointer;
  user-select: none;
}

.dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.dropdown div {
  padding: 10px;
  cursor: pointer;
  user-select: none;
}

.dropdown div:hover {
  background-color: var(--color-green-light);
}


.mobile-input-bar {
  display: none !important;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 14px;

  >* {
    text-align: center;
    width: 72px;
    border-bottom: 1px solid var(--color-green-dark-opec);

  }

  input::placeholder {
    opacity: 0.4;
  }
}

.nav-gation {
  background-color: var(--color-green-light);
  border-radius: 1px;
  width: 184px;
  margin: auto;
}

@media (max-width: 950px) {
  .sidebar-level {
    margin: 0 auto;
    height: auto;
  }

  .content {
    gap: 4px;

    >* {
      border: none;
      border-bottom: 1px solid var(--color-green-dark-opec);
      border-radius: 0px;
      box-shadow: none;
    }
  }

  .slider-show {
    display: none;
  }

  .footer-bar {
    border-top: none !important;
  }

  .footer-placeholder {
    display: none;
  }

  .mobile-input-bar {
    display: flex !important;
  }

  .slider-hide {
    display: block;
    padding-right: 18px;
  }
}