.test-bar{
    width: 425px;
    height: 100vh;
    border-right: 1px solid black;
    

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
    /* >*{
        border: 1px solid black;
    } */
}

.content{
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    width: 100%;
    gap: 14px;
    
    >*{
        border: 1px solid black;
        border-radius: 12px;
        height: 100px;
        padding: 12px;
    }

    h2{
        font-size: 24px;
        font-weight: bold;
    }
}

.menu{
    >*{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}